In [1]:
class Student:
    # intialization/constructor
    def __init__(self,sid,sname):                          # instance variable
        self.sid=sid
        self.sname=sname
        
        #member function
    def display(self):
        print('Student id=',self.sid,'student name=',self.sname)

In [2]:
#object/instance creation

stud1=Student(101,'Ranjan')
stud1.display()

Student id= 101 student name= Ranjan

In [3]:
stud2=Student(102,'Andrew')
stud2.display()

Student id= 102 student name= Andrew

In [4]:
stud1.sid

101

In [5]:
stud1.sname

'Ranjan'

In [6]:
stud2.sid

102

In [7]:
stud2.sname

'Andrew'

In [8]:
class Employee:
    salary=9000        # class variable 
    def __init__(self,id,name,position):       # instance variable
        self.id=id
        self.name=name
        self.position=position
    
    def display(self):
        print('Employee id=',self.id,'Employee name=',self.name,'Employee Position=',self.position)

In [9]:
emp1=Employee(201,'Lisa','Manager')
emp1.display()

Employee id= 201 Employee name= Lisa Employee Position= Manager

In [10]:
# instance variable cannot be accessed with a class name
Employee.id

AttributeError: type object 'Employee' has no attribute 'id'

In [11]:
# class variable
Employee.salary

9000

In [12]:
class Student:
    
    fees=5000  # Class variable    ---->name/Grade----instance variabe
    def __init__(self,name,grade):
        self.name=name
        self.grade=grade
        
    def display(self):
        print('name:',self.name,'grade:',self.grade,'fees:',self.fees)

In [13]:
Ram=Student('Jack','A')
Ram.display()

name: Jack grade: A fees: 5000

In [14]:
class person:
    #constructor/intialization               Automatically called
    def __init__(self,id,name):
        self.id=id
        self.name=name
    def display(self):
        print('ID=',self.id,'Name is=',self.name)
        
#instance/object
p1=person(101,'Lucifer')
p1.display()

p2=person(101,'Jenifer')
p2.display()

ID= 101 Name is= Lucifer
ID= 101 Name is= Jenifer

In [17]:
class employee:
    def __init__(self,name,age,id,salary):
        self.name=name    #self is an instance of a class
        self.age=age
        self.id=id
        self.salary=salary
        
    def display(self):
        print('inside display function')
        print(self.name,self.age,self.id,self.salary)

In [18]:
emp1=employee('Michle',30,200,100000)      #creating objects
emp2=employee('Piter',25,400,200000)
emp1.display()
emp2.display()

inside display function
Michle 30 200 100000
inside display function
Piter 25 400 200000

TASK

Create a class company.Declare 3 attributes name, location, number_of_employee. Now initialize the company class.

In [19]:
class company:
    #class variable
    revenue=8000000
    
    def __init__(self,Name,Location,Number_of_employee):
        self.Name=Name
        self.Location=Location
        self.Number_of_employee=Number_of_employee
    def display(self):
        print('Company name=',self.Name,'Location=',self.Location,'Number of Employee=',self.Number_of_employee)

In [20]:
c=company('George','London',400)
print(c.Name)
print(c.Location)
print(c.Number_of_employee)

#accessing class variable

company.revenue

# company.name----------this is the instance variable---->it can be called by instance only
c.display()

George
London
400
Company name= George Location= London Number of Employee= 400

In [21]:
print('c=',c.revenue)

c= 8000000

In [22]:
class car:
# A simple class for cars

# constructor to initialize

    def __init__(self,company,color):
        self.company=company
        self.color=color
# function to print car company and color

    def display(self):
        print('this is a',self.company, self.color)

In [23]:
def main():
    c=car('Ferrari','Red')
    c.display()

In [24]:
if __name__=="__main__":      # Entry Point
    main()

this is a Ferrari Red

In [25]:
class Employee:
    def __init__(self,age,name):
        print('initialized method called')
        self.age=age
        self.name=name
    def getdata(self,name,age):
        print('getdata method called')
        self.name=name
        self.age=age
    def displaydata(self):
        print('hello',self.age,self.name)

In [26]:
def main():
    e=Employee('Cherry',20)     # here initialize will work
    e.displaydata()
    
    e.getdata('John',30)
    e.displaydata()

In [27]:
if __name__=="__main__":
    main()

initialized method called
hello Cherry 20
getdata method called
hello 30 John

# Create a player class with name, age, sport associated with player

In [38]:
class player:
    def __init__(self,name,age,sport):
        print('Initialize data for players')
        self.name=name
        self.age=age
        self.sport=sport
        
    def getdata(self,name,age,sport):
        print('Getting data for players')
        self.name=name
        self.age=age
        self.sport=sport
    def displaydata(self):
        print('players details:',self.name,self.age,self.sport)
        
def main():
    p1=player('Virat',35,'Cricket')
    p1.displaydata()
        
    p1.getdata('Ronaldo',35,'Football')
    p1.displaydata()
        
    p2=player('Dhoni',40,'Cricket')
    p2.displaydata()
        
    p2.getdata('Rahul',30,'Cricket')
    p2.displaydata()
        
        
if __name__=="__main__":
    main()

Initialize data for players
players details: Virat 35 Cricket
Getting data for players
players details: Ronaldo 35 Football
Initialize data for players
players details: Dhoni 40 Cricket
Getting data for players
players details: Rahul 30 Cricket